body {
    background-color: black;
    color: yellow;
    font-family: Arial, sans-serif;
  }
  
  .timer-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .countdown-container {
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
  }
  
  .countdown {
    margin-top: 10px;
    color: white;
  }  

  .button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .date-time {
    margin-bottom: 1px; /* Adjust the margin-bottom as needed */
    line-height: 1; /* Set the line height to 1 to reduce the gap */
  }
  
  .register-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green; /* Change this to your desired shade of green */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 15px; /* Space above the button */
  }
  
  .register-button:hover {
    background-color: darkgreen; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
  }
  